.section-image {
    width: 100%;
}

.left-text-block-styling {
    padding: 0 0 0 15px !important;
    margin: 0 0 24px !important;
    border-left: 5px solid #f2f2f4 !important;
}

.right-text-block-styling {
    padding: 0 0 0 15px !important;
    margin: 0 0 24px !important;
    border-right: 5px solid #f2f2f4 !important;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}


.background-padding {
    padding: 25px !important;
}

@media only screen and (min-width: 768px) {
    .background-padding {
        padding: 0 80px !important;
    }
}
