.section-image {
    width: 100%;
}

.left-text-block-styling {
    padding: 0 0 0 15px;
    margin: 0 0 24px;
    border-left: 5px solid #f2f2f4;
}

.right-text-block-styling {
    padding: 0 0 0 15px;
    margin: 0 0 24px;
    border-right: 5px solid #f2f2f4;
}

.right-text-block-styling-last {
    padding: 0 0 0 15px;
    margin: 0;
    border-right: 5px solid #f2f2f4;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.body-padding {
    padding: 0 25px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .body-padding {
        padding: 0 80px;
    }
}
