.contact-form-input {
    margin-bottom: 15px;
    border-color: #F1F1F1;
    border-width: thin;
}

.contact-button {
    background-color: $smartboxblue;
    border-color: $smartboxblue;
    border-radius: 0px;
    padding: 4px 12px;
    font-weight: 300;
    margin-bottom: 15px;
    color: white;
}

.section-padded-contact {
    padding: 40px 0;
}

@media only screen and (max-width: 600px) {
    .banner-max-height {
        max-height: 135px;
    }
    .dark-background-max-height {
        max-height: 135px;
    }
    .section-padded-contact {
        padding: 40px 0 0 0;
    }
}

