.contact-form-input {
    padding: 4px 6px;
    margin: 0px 0px 12px;
    border-color: #E2E2E2;
    border-width: thin;
}

.contact-button {
    background-color: $smartboxblue;
    border-color: $smartboxblue;
    border-radius: 0px;
    padding: 4px 12px;
    font-weight: 300;
    margin-bottom: 25px;
    color: white;
}
