.contact-form-input {
    box-shadow: none !important;
    -webkit-appearance: button !important;
    margin-bottom: 15px;
}

.contact-button {
    background-color: $smartboxblue;
    border-color: $smartboxblue;
    border-radius: 0px;
    padding: 4px 12px;
    font-weight: 300;
    margin-bottom: 25px;
    color: white;
}
