// Home page
body {
    font-family: "Helvetica Neue", sans-serif !important;
    line-height: 1.8 !important;
}

@media only screen and (min-width: 768px) {
    .main-banner-text {
        font-size: 45px;
        font-weight: 900;
    }
}

.main-banner-text {
    font-size: 31px;
    font-weight: 700;
    text-align: center;
    margin: 10px !important;
    text-transform: uppercase;
}

.middle-banner-text {
    font-size: 26px;
    font-weight: 400;
    margin: 10px !important;
    text-align: center;
    text-transform: none;
}

.banner-button {
    padding: 15px 45px !important;
    background-color: #2153b2;
    border-color: #2153b2;
    color: #FFFFFF;
    margin-top: 20px;
}

.caption-margin-bottom {
    margin-top: -78px !important;
}

.dark-background {
    background-color: #000000;
}

.half-opacity {
    opacity: 0.5;
}

.reorder-container {
    display: table !important;
}

.reorder-original-top {
    display: table-footer-group !important;
}

.reorder-original-bottom {
    display: table-header-group !important;
}

.body-text {
    font-size: 1.0rem !important;
}
