// Home page
.main-banner-text {
    font-size: 52px;
    font-weight: 900;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
}

.middle-banner-text {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    line-height: 3;
    text-transform: none;
}

.banner-button {
    padding: 15px 45px !important;
    background-color: #2153b2;
    border-color: #2153b2;
    color: #FFFFFF;
}

.caption-margin-bottom {
    margin-top: -78px !important;
}

.dark-background {
    background-color: #000000;
}

.half-opacity {
    opacity: 0.5;
}
