// Home page
#body-formatting {
    line-height: 1.8;
    font-family: "Helvetica Neue", sans-serif;
}

.main-banner-text {
    font-size: 31px;
    font-weight: 700;
    text-align: center;
    margin: 10px !important;
    text-transform: uppercase;
}

.middle-banner-text {
    font-size: 26px;
    font-weight: 400;
    margin: 10px !important;
    text-align: center;
    text-transform: none;
}

.banner-button {
    padding: 15px 45px !important;
    background-color: #2153b2;
    border-color: #2153b2;
    color: #FFFFFF;
    margin-top: 20px;
}

.caption-margin-bottom {
    margin-top: -78px !important;
}

.dark-background {
    background-color: #000000;
}

.half-opacity {
    opacity: 0.5;
}

.reorder-container {
    display: table !important;
}

.reorder-original-top {
    display: table-footer-group !important;
}

.reorder-original-bottom {
    display: table-header-group !important;
}

.body-text {
    font-size: 1.0rem;
    font-weight: 300;
}

.home-padding {
    padding: 0 40px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .main-banner-text {
        font-size: 45px;
        font-weight: 900;
    }
    .body-text {
        font-size: 1.25rem;
        font-weight: 300;
    }
    .home-padding {
        padding: 0 80px;
    }
}

.biodiversity-image-container {
    padding: 0 40px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 767px) {
    .biodiversity-image-container {
        padding: 0 15px 0 0;
    }
}

p.neg-margin-top-20 {
    margin-top: -20px;
}

#subpage-text {
    font-size: 40px;
}

@media only screen and (max-width: 600px) {
    #subpage-text {
        font-size: 20px;
    }
}

// Contributors

.contributors-text {
    font-size: 25px;
    line-height: 35px;
}

@media only screen and (max-width: 767px) {
    .contributors-text {
        font-size: 20px;
        line-height: 30px;
    }
}

.contributors-back-to-top-link {
    color: #235ac7;
    margin-bottom: 30px;
    margin-top: -10px;
}

.contributors-in-list-links {
    color: #235ac7;
}
